<!-- add form -->

<form role="form" class="col-md-9 go-right" [formGroup]="apparelForm" (ngSubmit)="save()">
  <h2>Add Apparel Item</h2>
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9">
      <div class="form-group">
        <label for="item">Item</label>
        <input id="item" name="item" type="text" class="form-control" formControlName="itemCtrl" [ngClass]="{ 'is-invalid': apparelForm.controls['itemCtrl'].touched && apparelForm.controls['itemCtrl'].errors }">
        <div *ngIf="apparelForm.controls['itemCtrl'].invalid && (apparelForm.controls['itemCtrl'].dirty || apparelForm.controls['itemCtrl'].touched)"
          class="invalid-feedback">
          <div *ngIf="apparelForm.controls['itemCtrl'].errors.required">Clothing item is required.
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-9 col-sm-9 col-md-9">
      <div class="form-group">
        <label for="description">Item Description</label>
        <textarea id="description" name="description" type="text" class="form-control" formControlName="descCtrl"
          [ngClass]="{ 'is-invalid': apparelForm.controls['descCtrl'].touched && apparelForm.controls['descCtrl'].errors }"></textarea>
        <div *ngIf="apparelForm.controls['descCtrl'].invalid && (apparelForm.controls['descCtrl'].dirty || apparelForm.controls['descCtrl'].touched)"
          class="invalid-feedback">
          <div *ngIf="apparelForm.controls['descCtrl'].errors.required">Clothing description is required.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2">
      <div class="form-group">
        <label for="gender">Type</label>
        <select id="gender" formControlName="typeCtrl" class="form-control" formControlName="typeCtrl" [ngClass]="{ 'is-invalid': apparelForm.controls['typeCtrl'].touched && apparelForm.controls['typeCtrl'].errors }">
          <option>Cotton </option>
          <option>Dri Fit </option>
        </select>
        <div *ngIf="apparelForm.controls['typeCtrl'].invalid && (apparelForm.controls['typeCtrl'].dirty || apparelForm.controls['typeCtrl'].touched)"
          class="invalid-feedback">
          <div *ngIf="apparelForm.controls['typeCtrl'].errors.required">Clothing type is required.
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-xs-3 col-sm-3 col-md-3">
      <div class="form-group">
        <label for="gender">Image</label>
        <select id="gender" formControlName="imageCtrl" class="form-control" formControlName="imageCtrl" [ngClass]="{ 'is-invalid': apparelForm.controls['imageCtrl'].touched && apparelForm.controls['imageCtrl'].errors }">
          <option *ngFor="let images of imageList" value={{images.apparelImageId}}>{{images.imageName}}</option>
        </select>
        <div *ngIf="apparelForm.controls['imageCtrl'].invalid && (apparelForm.controls['imageCtrl'].dirty || apparelForm.controls['imageCtrl'].touched)"
          class="invalid-feedback">
          <div *ngIf="apparelForm.controls['imageCtrl'].errors.required">Image is required.
          </div>
        </div>
      </div>
    </div> -->

    <!--   </div>
 <div class="row"> -->
    <div class="col-xs-2 col-sm-2 col-md-2">
      <div class="form-group">
        <label for="price">Price</label>
        <input id="price" name="price" type="number" class="form-control" formControlName="priceCtrl" [ngClass]="{ 'is-invalid': apparelForm.controls['priceCtrl'].touched && apparelForm.controls['priceCtrl'].errors }">
        <div *ngIf="apparelForm.controls['priceCtrl'].invalid && (apparelForm.controls['priceCtrl'].dirty || apparelForm.controls['priceCtrl'].touched)"
          class="invalid-feedback">
          <div *ngIf="apparelForm.controls['priceCtrl'].errors.required">Price is required.
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <div class="form-group">
        <label for="upCharge">Up Charge XXL +</label>
        <input id="upCharge" name="upCharge" type="number" class="form-control" formControlName="upChargeCtrl">
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <div class="form-group">
        <label for="nameCharge">Name Charge </label>
        <input id="nameCharge" name="nameCharge" type="number" class="form-control" formControlName="nameChargeCtl">
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-xs-3 col-sm-3 col-md-3">
      <div class="form-group">
        <label for="image" class="custom-file-upload btn btn-secondary">
          <span id="file-selected"></span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
            <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg>
          &nbsp; <span>Choose a file&hellip;</span>
        </label>
        <input id="image" type="file" accept="image/*" (change)="processFile($event)" #fileInput />
        <br />
        <span>{{this.filename}}</span>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <div class="form-group">
        <label for="canHaveName">Name on sleeve</label>
        <div>
          <mat-checkbox aria-label="shirt can have name on sleeve" id="canHaveName" name="canHaveName" formControlName="canHaveNameCtl">Yes</mat-checkbox>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="!apparelForm.valid">Submit </button>
</form>
