.alert-danger {
  color: #a94442;
  background-color: none;
  border-color: none;
}

.invalid-feedback {

  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}


.form-control.is-invalid{
  border-color: #dc3545;
}

.name-input-width {
  width: 100%;
}

// upload

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5d6266;
  border-color: #5d6266;
}

path {
  fill: white;
}
