<!-- add form -->

<form role="form" class="col-md-9 go-right" [formGroup]="apparelForm"  (ngSubmit)="save()">
  <h2>Add Apparel Item</h2>
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9">
      <div class="form-group">
        <label for="item">Item</label>
        <input id="item" name="item" type="text" class="form-control" formControlName="itemCtrl" [ngClass]="{ 'is-invalid': apparelForm.controls['itemCtrl'].touched && apparelForm.controls['itemCtrl'].errors }">
        <div *ngIf="apparelForm.controls['itemCtrl'].invalid && (apparelForm.controls['itemCtrl'].dirty || apparelForm.controls['itemCtrl'].touched)"
          class="invalid-feedback">
          <div *ngIf="apparelForm.controls['itemCtrl'].errors.required">Clothing item is required.
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-9 col-sm-9 col-md-9">
      <div class="form-group">
        <label for="description">Item Description</label>
        <textarea id="description" name="description" type="text" class="form-control" formControlName="descCtrl"
          [ngClass]="{ 'is-invalid': apparelForm.controls['descCtrl'].touched && apparelForm.controls['descCtrl'].errors }"></textarea>
        <div *ngIf="apparelForm.controls['descCtrl'].invalid && (apparelForm.controls['descCtrl'].dirty || apparelForm.controls['descCtrl'].touched)"
          class="invalid-feedback">
          <div *ngIf="apparelForm.controls['descCtrl'].errors.required">Clothing description is required.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2">
      <div class="form-group">
        <label for="gender">Type</label>
        <select id="gender" formControlName="typeCtrl" class="form-control" formControlName="typeCtrl" [ngClass]="{ 'is-invalid': apparelForm.controls['typeCtrl'].touched && apparelForm.controls['typeCtrl'].errors }">
          <option>Cotton </option>
          <option>DriFit </option>
        </select>
        <div *ngIf="apparelForm.controls['typeCtrl'].invalid && (apparelForm.controls['typeCtrl'].dirty || apparelForm.controls['typeCtrl'].touched)"
          class="invalid-feedback">
          <div *ngIf="apparelForm.controls['typeCtrl'].errors.required">Clothing type is required.
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <div class="form-group">
        <label for="gender">Gender</label>
        <select id="gender" formControlName="genderCtrl" class="form-control" formControlName="genderCtrl" [ngClass]="{ 'is-invalid': apparelForm.controls['genderCtrl'].touched && apparelForm.controls['genderCtrl'].errors }">
          <option> Male</option>
          <option> Female</option>
        </select>
        <div *ngIf="apparelForm.controls['genderCtrl'].invalid && (apparelForm.controls['genderCtrl'].dirty || apparelForm.controls['genderCtrl'].touched)"
          class="invalid-feedback">
          <div *ngIf="apparelForm.controls['genderCtrl'].errors.required">Gendar is required.
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <div class="form-group">
        <label for="size">Size</label>
        <select id="size" formControlName="sizeCtrl" class="form-control" formControlName="sizeCtrl" [ngClass]="{ 'is-invalid': apparelForm.controls['sizeCtrl'].touched && apparelForm.controls['sizeCtrl'].errors }">
          <option *ngFor="let sizes of sizeList" value={{sizes}}>{{sizes}}</option>
        </select>

        <div *ngIf="apparelForm.controls['sizeCtrl'].invalid && (apparelForm.controls['sizeCtrl'].dirty || apparelForm.controls['sizeCtrl'].touched)"
          class="invalid-feedback">
          <div *ngIf="apparelForm.controls['sizeCtrl'].errors.required">Size is required.
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <div class="form-group">
        <label for="price">Price</label>
        <input id="price" name="price" type="number" class="form-control" formControlName="priceCtrl" [ngClass]="{ 'is-invalid': apparelForm.controls['priceCtrl'].touched && apparelForm.controls['priceCtrl'].errors }">
        <div *ngIf="apparelForm.controls['priceCtrl'].invalid && (apparelForm.controls['priceCtrl'].dirty || apparelForm.controls['priceCtrl'].touched)"
          class="invalid-feedback">
          <div *ngIf="apparelForm.controls['priceCtrl'].errors.required">Price is required.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <app-image-upload (notify)='uploadNotify($event)'></app-image-upload>
      </div>
    </div> -->
<div class="col-xs-2 col-sm-2 col-md-2">
  <div class="form-group">
    <label for="gender">Image</label>
<select id="gender" formControlName="imageCtrl" class="form-control" formControlName="imageCtrl" [ngClass]="{ 'is-invalid': apparelForm.controls['imageCtrl'].touched && apparelForm.controls['imageCtrl'].errors }">
<option *ngFor="let images of imageList" value={{images.apparelImageId}}>{{images.description}}</option>
    </select>
<div *ngIf="apparelForm.controls['genderCtrl'].invalid && (apparelForm.controls['imageCtrl'].dirty || apparelForm.controls['imageCtrl'].touched)"
      class="invalid-feedback">
<div *ngIf="apparelForm.controls['imageCtrl'].errors.required">Image is required.
      </div>
    </div>
  </div>
</div>

  </div>
  <button class="btn btn-primary" [disabled]="!apparelForm.valid">Submit </button>
</form>
