<h1>Shrewsbury Robotics Optional Apparel Order Form</h1>



<form role="form" class="col-md-9 go-right" [formGroup]="apparelForm" (ngSubmit)="save()">
  <div class="container">

    <div class="card" *ngFor="let apparel of this.apparealData">

      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-5">
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1">
                <!-- <img [src]="'data:image/png;base64,'+ this.imageData.image" /> -->
                <img [src]=this.apparel.image />
              </div>
            </div>
          </div>
          <div class="details col-md-5">
            <h3 class="product-title">{{apparel.item}}</h3>
            <p class="product-description">{{this.apparel.description}}</p>
            <h4 class="price">price: <span>{{this.apparel.price | currency}}</span></h4>
            <span *ngIf="this.apparel.upCharge"><i>Add {{this.apparel.upCharge | currency}} per for the XXL size</i></span>
            <h5 class="colors">gender:&nbsp;
              <select id="gender" formControlName="genderCtrl">
                <option>Mens</option>
                <option>Womens</option>
              </select>
            </h5>
            <h5 class="sizes">sizes:&nbsp;
              <select id="sizeCtrl" formControlName="sizeCtrl">
                <option *ngFor="let s of sizes" [value]="s"> {{s}}</option>
              </select>
            </h5>
            <div *ngIf="this.apparel.nameCharge">
              <h5 class="colors">Name on sleeve</h5>
              <mat-checkbox aria-label="shirt can have name on sleeve" id="canHaveName" name="canHaveName"
                formControlName="canHaveNameCtl">Yes</mat-checkbox>
              <div>
                <span><i>Additonal {{this.apparel.nameCharge | currency}} for name on
                    sleeve</i></span>
              </div>
              <div>
                <h5 class="colors">Name on Sleeve: </h5>
                <input class="form-control" name='nameOnSleeve' type='text' formControlName="sleeveNameCtrl">
              </div>
            </div>
            <!-- <h5 class="price">Type:
            {{this.apparel.type}}
          </h5> -->
            <h5 class="colors">Quanity: &nbsp;
              <select id="genderCtrl">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </h5>
            <div class="action">
              <!-- <button class="add-to-cart btn btn-default" type="button">add to cart</button> -->
              <a class="add-to-cart btn btn-default" [routerLink]="['/cart', { id:this.apparel.apparelId}]">Buy Now</a>
            </div>
          </div>
        </div>
      </div>


    </div>


    <hr>

  </div>
</form>
