<h1>Shrewsbury Robotics Optional Apparel Order Form</h1>
<div class="row">
  <div class="col">

    <img src="/assets/images/long-sleeve.png" alt="long sleeve">
  </div>
  <div class=" col">
    <label>Long Sleeve </label>
    <p>Mens S M L XL 2XL </p>
    <p>Womens: S M L XL</p>
  </div>
  <div class="col">
    <mat-checkbox aria-label="shirt type Drifit">Drifit</mat-checkbox>
    <mat-checkbox aria-label="shirt type Cotton">Cotton</mat-checkbox>
  </div>
  <div class="col">
    <label>$10.00 </label>
    <label>Add $2.50 per for the XXL size</label>
  </div>
  <div class="col">
    <label>Qty____</label>
  </div>
</div>
