
<div class="container">

  <h2>
  Apply Points To Student
  </h2>

  <form class="form-horizontal" [formGroup]="applyPointsForm" novalidate (ngSubmit)="submit()">
    <div>
      <app-auto-complete (notify)='onNotify($event)' [autoCompleteForm]="applyPointsForm">Loading...</app-auto-complete>
    </div>

    <mat-form-field style="width: 50%;" >
      <mat-select placeholder="Add points to the kids" formControlName="pointCtrl" multiple>
        <mat-select-trigger>
          {{applyPointsForm.controls['pointCtrl'].value ? applyPointsForm.controls['pointCtrl'].value[0] : ''}}
          <span *ngIf="applyPointsForm.controls['pointCtrl'].value?.length > 1" class="additional-selection">
            (+{{applyPointsForm.controls['pointCtrl'].value.length - 1}} others)
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let points of pointsList" [value]="points.Description">{{points.Description}}</mat-option>
      </mat-select>
      <mat-error *ngIf="applyPointsForm.hasError('required')">Please choose at least 1 message</mat-error>
    </mat-form-field>
    <div>
      <button class='trackerBtn' type="submit" [disabled]="!applyPointsForm.valid">Submit</button>
    </div>

  </form>
</div>