<div class="container">
  <div class="container-add">
    <!-- <div class="alert alert-success" *ngIf="this.success" role="alert">
{{this.alertMessage}}
</div> -->
    <div>
      <!-- <app-alert-message *ngIf="this.success" [alertMessage]="this.alertMessage" (notify)='alerttNotify($event)'>
      </app-alert-message> -->
    </div>

    <h2>
      Add A New Event
    </h2>

    <form [formGroup]="addEventForm" novalidate (ngSubmit)="submit()">
      <mat-form-field class="eventText">
        <textarea matInput placeholder="Add event" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
          formControlName="eventsTxtCtrl" type="text" required></textarea>
        <mat-error *ngIf="eventText.invalid && (eventText.dirty || eventText.touched)">Please add a event</mat-error>
      </mat-form-field>
      <div>
        <button class='trackerBtn' type="submit" [disabled]="!eventText.valid">Submit</button>
      </div>
    </form>
  </div>
  <hr>

  <div class="container-list">
    <h2>
      Current Event List
    </h2>

    <div class="mat-elevation-z8">
      <table mat-table class="pointer" [dataSource]="dataSource" matSort>
        <!-- Edit Event text Column -->
        <ng-container matColumnDef="editEvent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit Event </th>
          <td mat-cell *matCellDef="let element" [satPopoverAnchor]="p" (click)="p.open()">
            <ng-container *ngIf="element.eventID">
              <mat-icon>create</mat-icon>
            </ng-container>

            <sat-popover #p hasBackdrop xAlign="start" yAlign="start" (closed)="update(element, $event)">
              <app-inline-edit [value]="element.description"></app-inline-edit>
            </sat-popover>
          </td>
        </ng-container>

        <!-- Event Id  Column -->
        <ng-container matColumnDef="eventId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px" mat-sort-header
            sortActionDescription="Sort by event id"> Event Id </th>
          <td mat-cell *matCellDef="let event" fxFlex="100px"> {{event.eventID}}</td>
        </ng-container>

        <!-- Event text Column -->
        <ng-container matColumnDef="eventText">
          <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px" mat-sort-header
            sortActionDescription="Sort by event"> Event </th>
          <td mat-cell *matCellDef="let event" fxFlex="100px"> {{event.description}}</td>
        </ng-container>

        <!-- Remove Event Column -->
        <ng-container matColumnDef="removeEvent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header sortActionDescription="Sort by remove event">
            Remove Event </th>
          <td mat-cell *matCellDef="let element" (click)="deleteEvent(element.eventID)">
            <ng-container matColumnDef="Remove">
              <ng-container *ngIf="element.eventID">
                <mat-icon>delete</mat-icon>
              </ng-container>
            </ng-container>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
  </div>
</div>
