table {
  width: 100%;
}

.container-list {
  padding-top: 20px;
}

.container-add {
  padding: 20px;
}

.add-comment {
  opacity: 0.4;
}

/* .cdk-overlay-pane  */
.sat-popover-container.sat-popover-after.sat-popover-below {
  padding-left: 20px;
}

