<form class="example-form" [formGroup]="testPage">
  <p>
    test-shared-components works!
  </p>
  <!-- alert box -->
  <div>
    <app-alert-message *ngIf="success" [alertMessage]="alertmessage" (notify)='alerttNotify($event)'>
    </app-alert-message>
  </div>

  <!-- student auto complete -->
  <div>
    <app-auto-complete (notify)='onNotify($event)' [autoCompleteForm]="testPage">Loading...</app-auto-complete>
  </div>
</form>

<hr>


<!-- upload  -->
<app-image-upload (notify)='uploadNotify($event)'></app-image-upload>

