.spacing{
    margin-bottom: 1em;
    width: 300px;
}

.spacer{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.mat-toolbar, .mat-menu-content{
    background-color: #2A4283;
    color: rgb(221, 204, 120);
}

.mat-icon-button {
    background-color: rgb(51, 78, 155);
        height: 35px;
        line-height: 35px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 55px;
        font: 500 14px/32px Roboto,"Helvetica Neue",sans-serif;
}
