<mat-toolbar color="">

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #appMenu="matMenu">
    <a [routerLink]="['/']" mat-menu-item>
      <span>Home </span>
    </a>
    <a [routerLink]="['/trackTime']" mat-menu-item>
      <span>Track Time</span>
    </a>
    <a [routerLink]="['/studentTimeReport']" mat-menu-item>
      <span>Student Time Report</span>
    </a>
    <a href="mailto:john@shrewsburyrobotics.org?Subject=Mindstorm" mat-menu-item>
      <span> mail </span>
    </a>
  </mat-menu>

  <span class="spacer"> </span>
  <span>Student Time Tracker</span>

</mat-toolbar>
