@import '../../styles';


a {
  color: $primary-blue;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.mat-menu-content:not(:empty) {
  padding-top: 1px;
  padding-bottom: 1px;
}


.mat-menu-content {
  padding-top: 1px;
  padding-bottom: 1px;
}

.mat-toolbar,
.mat-menu-content {
  // background-color: #dce3ec;
  background-color: #eee;
  color: $primary-blue;
}

// button in the hamburger menu (round circle)
.mat-icon-button {
  // background-color: $secondary-blue;
  height: 36px;
  line-height: 30px;
  color: $primary-blue;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 70px;
  font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;
}

.mat-menu-item {
  color: $primary-blue;
  height: 38px;
}

.colonialImg {
  //background: url('/assets/images/colonial.png') no-repeat;
  width: auto;
  height: 70px;
  padding-bottom: 3px;
}

.colonial {
  margin-right: 30px;
}

.cart {
  font-size: 25px;
  padding-right: 15px;
}

.login {
  margin-right: 25x;
}
