<mat-toolbar color="">
  <span class="colonial">
    <img class="colonialImg" src="/assets/images/colonial.png">
  </span>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #appMenu="matMenu">
    <a [routerLink]="['/']" mat-menu-item>
      <span>Home </span>
    </a>
    <button mat-menu-item [matMenuTriggerFor]="admin">Admin</button>
    <ng-container *ngIf="securityObject.isAuthenticated">
      <button mat-menu-item [matMenuTriggerFor]="reports">Reports</button>
    </ng-container>
    <ng-container *ngIf="securityObject.isAuthenticated">
      <a [routerLink]="['/event']" *hasClaim="'canAccess_Admin'" mat-menu-item>
        <span>Add New Event</span>
      </a>
    </ng-container>
    <ng-container *ngIf="securityObject.isAuthenticated">
      <a [routerLink]="['/message']" *hasClaim="'canAccess_Admin'" mat-menu-item>
        <span>Add New Message</span>
      </a>
    </ng-container>
    <ng-container *ngIf="securityObject.isAuthenticated">
      <a [routerLink]="['/messageStudent']" *hasClaim="'canAccess_Admin'" mat-menu-item>
        <span>Message Student</span>
      </a>
    </ng-container>
    <ng-container *ngIf="securityObject.isAuthenticated">
      <a [routerLink]="['/trackTime']" *hasClaim="'canAccess_Student'" mat-menu-item>
        <span>Track Time</span>
      </a>
    </ng-container>


      <a [routerLink]="['/attendance']" mat-menu-item>
        <span>Attendance</span>
      </a>


    <a [routerLink]="['/apparel']" mat-menu-item>
      <span>Apparel</span>
    </a>

    <a [routerLink]="['/test']" mat-menu-item>
      <span>Test</span>
    </a>

  </mat-menu>


  <mat-menu #admin="matMenu">
    <a [routerLink]="['/addApparel']" mat-menu-item>
      <span>Add Apparel</span>
    </a>
    <a [routerLink]="['/addImage']" mat-menu-item>
      <span>Add Image</span>
    </a>
  </mat-menu>


  <mat-menu #reports="matMenu">
    <!-- <ng-container *ngIf="securityObject.isAuthenticated">
      <a [routerLink]="['/attendance']" *hasClaim="'canAccess_Admin'" mat-menu-item>
        <span>Attendance</span>
      </a>
    </ng-container> -->
    <ng-container *ngIf="securityObject.isAuthenticated">
      <a [routerLink]="['/messageList']" *hasClaim="'canAccess_Admin'" mat-menu-item>
        <span>Message List</span>
      </a>
    </ng-container>
    <ng-container *ngIf="securityObject.isAuthenticated">
      <a [routerLink]="['/studentlist']" *hasClaim="['canAccess_Student', 'canAccess_Admin']" mat-menu-item>
        <span>Student List</span>
      </a>
    </ng-container>
    <ng-container *ngIf="securityObject.isAuthenticated">
      <a [routerLink]="['/order-report']" *hasClaim="'canAccess_Admin'" mat-menu-item>
        <span>Orders</span>
      </a>
    </ng-container>

  </mat-menu>




  <!--       TODO: need to re-wire back up for page to work again       -->
  <!-- <ng-container *ngIf="securityObject.isAuthenticated">
      <a [routerLink]="['/studentTimeReport']" *hasClaim="'canAccess_Student'" mat-menu-item>
        <span>Student Hours</span>
      </a>
    </ng-container>
    <ng-container *ngIf="securityObject.isAuthenticated">
      <a [routerLink]="['/studentEditForm']" *hasClaim="'canAccess_Admin'" mat-menu-item>
        <span>Edit</span>
      </a>
    </ng-container>-->

  <!-- <a [routerLink]="['/badges']" mat-menu-item *ngIf="isAdmin()">
      <span>Badges</span>
    </a> -->
  <!-- <a [routerLink]="['/applyPoints']" mat-menu-item *ngIf="isAdmin()">
      <span>Apply Points to Student</span>
    </a> -->




  <!-- <span style="padding-left: 50px;" *ngIf="user">Welcome {{ user.displayName }}</span> -->
  <span class="spacer"> </span>
  {{ signedInStudents }} signed in.
  <span class="spacer"> </span>
  <span class="spacer"> </span>
  <div style="padding-right: 50px;">
    <div>
      <a routerLink="login" *ngIf="!securityObject.isAuthenticated">Login</a>
    </div>
    <div>
      <a (click)="logout()" *ngIf="securityObject.isAuthenticated"> Logout &nbsp;{{
        securityObject.userName}}</a>
    </div>
  </div>

   <a [routerLink]="['/order-confirm']">
   <mat-icon matBadge="{{cartSize}}" matBadgeColor="accent" matBadgeSize="medium" matBadgePosition="above after">shopping_cart</mat-icon>
    </a>


</mat-toolbar>
