<!-- {{missions | json}} -->
<form class="form-horizontal" *ngIf="timeTrackerForm" [formGroup]="timeTrackerForm" novalidate (ngSubmit)="save()">

  <span>{{title}}</span>


<div>
  <mat-form-field>
    <input matInput placeholder="Name">
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-select placeholder="Favorite food">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
</div>
<div>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</div>
  <div class=''>
    <button type="submit" [disabled]="!timeTrackerForm.valid">Save</button>
  </div>

</form>
