<h1>Badges</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card card-inverse card-info">
        <img class="card-img-top" src="/assets/images/mechanical.png">
        <div class="card-block">
          <!-- <figure class="profile profile-inline">
            <img src="/assets/images/mechanical.png" class="profile-avatar" alt="">
          </figure> -->
          <h4 class="card-title">Mechanical Beginner</h4>
          <div class="card-text">
            This badge states that you have successfully learned the basics of mechanical.
            <div style="padding-top: 5px;">This includes:</div>
            <div style="padding-top: 5px;">
              <ul>
                <li>wheel installation</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">awarded 2018</span>
          <span>
            <i class=""></i>By Paul</span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card">
        <img class="card-img-top" src="/assets/images/electrical-beginner.jpg">
        <div class="card-block">
          <h4 class="card-title">Electrical Beginner</h4>
          <div class="card-text">
            This badge states that you have successfully learned the basics of electrical.
            <div style="padding-top: 5px;">This includes:</div>
            <div style="padding-top: 5px;">
              <ul>
                <li>wiring</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">awarded 2018</span>
          <span>
            <i class=""></i>By Brian</span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card">
        <img class="card-img-top" src="/assets/images/electrical-inter.png">
        <div class="card-block">
          <h4 class="card-title">Electrical Intermidate</h4>
          <div class="card-text">
            This badge states that you have successfully learned advanced electrical.
            <div style="padding-top: 5px;">This includes:</div>
            <div style="padding-top: 5px;">
              <ul>
                <li>wiring</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">awarded 2018</span>
          <span>
            <i class=""></i>By Brian</span>
        </div>
      </div>
    </div>

  </div> <!--row -->
</div> <!-- container -->