<div class="card">
  <form [formGroup]="apparelForm">
    <div class="row">
      <div class="col">
        <h3>{{apparelItem.item}}</h3>
        <p class="product-description">{{apparelItem.description}}</p>
        <div class="row">
          <div class="col-3">
            <h6>Price:</h6>
          </div>
          <div class="col pt-1">
            <span class="teal font-weight-bold">{{apparelItem.price | currency}}</span>
          </div>
        </div>
        <div class="row" *ngIf="apparelItem.showGender">
          <div class="col-3">
            <h6>gender: </h6>
          </div>
          <div class="col-3 pt-1">
            <select class="form-control" formControlName="genderCtrl"
              [ngClass]="{ 'is-invalid':submitted && f.genderCtrl.invalid }" required>
              <option selected disabled value="">Choose...</option>
              <option>Mens</option>
              <option>Womens</option>
            </select>
            <div *ngIf="f.genderCtrl.invalid" class="invalid-feedback">
              <div *ngIf="f.genderCtrl.errors.required" style="width: 250px;">Gender is required</div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="apparelItem.showSize">
          <div class="col-3">
            <h6 class="sizes">sizes:</h6>
          </div>
          <div class="col-3 pt-1">
            <select class="form-control" formControlName="size"
              [ngClass]="{ 'is-invalid':submitted && f.size.invalid }">
              <option selected disabled value="">Choose...</option>
              <option *ngFor="let s of sizes" [value]="s"> {{s}}</option>
            </select>
            <div *ngIf="f.size.invalid" class="invalid-feedback">
              <div *ngIf="f.size.errors.required">Size is required</div>
            </div>
          </div>
          <div class="col pt-2">
            <span *ngIf="this.apparelItem.upCharge" class="teal small-text">Add {{apparelItem.upCharge | currency}}
              for XXL</span>
          </div>
        </div>

        <div *ngIf="this.apparelItem.nameCharge" class="mb-2">
          <div class="row pt-2">
            <div class="col-3">
              <h6 class="mr-1" style="display: inline-block;">Add Name?</h6>
            </div>
            <div class="col pt-1">
              <mat-checkbox aria-label="shirt can have name on sleeve" name="canHaveName"
                formControlName="canHaveNameCtl">Yes</mat-checkbox>
            </div>
          </div>
          <div *ngIf="apparelForm.value.canHaveNameCtl === true" class="row">
            <div class="col-3 pt-3">
              <h6>Name: </h6>
            </div>
            <div class="col-5 pt-2">
              <input class="form-control" name='nameOnSleeve' type='text' formControlName="sleeveNameCtrl"
                [ngClass]="{ 'is-invalid':hasErrors}">
            </div>
            <div class="col pt-3">
              <span class="teal small-text">Additonal {{apparelItem.nameCharge | currency}} </span>
            </div>
            <div class="">
              <div *ngIf="hasErrors" class="invalid-feedback d-block">
                <p> Name Is Required</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <h6>QUANTITY: </h6>
          </div>
          <div class="col-3 pt-1">
            <select class="form-control" formControlName="quantityCtrl"
              [ngClass]="{ 'is-invalid':submitted && f.quantityCtrl.invalid }">
              <option selected disabled value="">Choose...</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <div *ngIf="f.quantityCtrl.invalid" class="invalid-feedback">
              <div *ngIf="f.quantityCtrl.errors.required" style="width: 250px;">Quanity is required</div>
            </div>
          </div>
        </div>
        <div class="action pt-2 d-flex justify-content-end">
          <button class="btn btn-secondary" type="button" (click)="addItemToCart(apparelItem)">add to
            cart</button>
        </div>
      </div>
      <div class="col">
        <div>
          <!-- <img [src]="'data:image/png;base64,'+ this.imageData.image" /> -->
          <img [src]=this.apparelItem.image />
        </div>
      </div>
    </div>
  </form>
</div>
