  <div class="container">
    <h1 class="my-4">Shrewsbury Robotics Optional Apparel Order Form</h1>
    <h4>{{student}}</h4>
    <div *ngIf="showBox" class="p-2 card-alert">
      <div class="row d-flex justify-content-between">
        <div class="col">
          Added To Your Cart <span class="teal font-weight-bold"> {{itemsSelected}}</span>
        </div>
        <div class="col pl-5">
          Cart subtotal ( <span class="teal font-weight-bold">{{itemQuanitySelected}} </span> item): <span
            class="teal font-weight-bold pl-2">{{itemsSelectedTotal | currency:'USD'}}</span>
        </div>
        <div class="col">
          <button class="btn btn-info float-right" [routerLink]="['/order-confirm']">View Cart Items</button>
        </div>
      </div>
    </div>

    <!-- <form [formGroup]="form"> -->
      <div *ngIf="!pickStudent" class="row">
        <div class="col">
          <app-auto-complete (notify)='onNotify($event)' [autoCompleteForm]="form">Loading...
          </app-auto-complete>
          <div *ngIf="showError" class="red">
            <span>{{studentRequired}}</span>
          </div>
        </div>
      </div>
    <!-- </form> -->
    <div>
      <app-apparel-card *ngFor="let apparel of this.apparealData" [apparelItem]="apparel"
        (addCartItem)='addItemToCart($event)'>
      </app-apparel-card>
    </div>


  </div>
