/*****************globals*************/
/* body {
  font-family: 'open sans';
  overflow-x: hidden;
} */

h6 {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.card {
  margin-top: 25px;
  // background: #abbdd8;
   //background: #e9eff8;
  background: #dce3ec;
  padding: 2em;
  line-height: 1.5em;
}

img {
  // max-width: 100%;
  width: 393px;
  height:395px;
}

// make input into a line for name on sleeve
input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

span {
  //color: #b36800;
  color: #17a2b8
}

.card-alert{
 // background-color: #dce3ec;
 height:55px;
 border-radius: .35rem;
 background-clip: border-box;
 border: 1px solid #dce3ec;
}

// .not-available {
//   text-align: center;
//   line-height: 2em;
// }


// .not-available:before {
//   font-family: fontawesome;
//   content: "\f00d";
//   color: #fff;
// }
