/*****************globals*************/
/* body {
  font-family: 'open sans';
  overflow-x: hidden;
} */

h6 {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.card {
  margin-top: 25px;
  background: #fff;
  padding: 2em;
  line-height: 1.5em;
}

img {
  max-width: 100%;
}

// make input into a line for name on sleeve
input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}


span {
  color: #b36800;
}

// button
.add-to-cart,
.like {
  background: #999999;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}

.add-to-cart:hover,
.like:hover {
  background: #4cb5f5;

  color: #fff;
}

// .not-available {
//   text-align: center;
//   line-height: 2em;
// }


// .not-available:before {
//   font-family: fontawesome;
//   content: "\f00d";
//   color: #fff;
// }
