<!-- {{this.shoppingCartItems | json}} -->

<div *ngIf="!this.shoppingCartItems">

  <h2>Your Shopping Cart is empty.</h2>
</div>

<div class="container" *ngIf="this.shoppingCartItems">
  <h1>Confirm your order</h1>

  <div class="row">
    <div class="col-xs-12 pull-left">
      <div class="panel panel-default height">
        <div class="panel-body">
          <div>
            <strong>Today's Date:</strong> &nbsp;
            <span>{{today | date:'MM-dd-yyyy'}}</span> &nbsp;
          </div>
          <div>
            <strong>Student Name:</strong> &nbsp;
            {{student}}
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center"><strong>Order summary</strong></h3>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <table class="table table-condensed">
              <thead class="table-header">
                  <tr>
                    <td><strong>Item Name</strong></td>
                    <td class="text-center"><strong>Item Type</strong></td>
                    <td class="text-center"><strong>Gender</strong></td>
                    <td class="text-center"><strong>Size</strong></td>
                    <td class="text-center"><strong>Name on sleeve</strong></td>
                    <td class="text-center"><strong>Item Quantity</strong></td>
                    <td class="text-center"><strong>Item Price</strong></td>
                    <td class="text-center"><strong>Name Charge</strong></td>
                    <td class="text-center"><strong>Up Charge</strong></td>

                    <td class="text-right"><strong>Total</strong></td>
                  </tr>
                </thead>
              <tbody *ngFor="let cartItem of this.shoppingCartItems.items">
                <tr>
                  <td> {{cartItem.apparel.item}}</td>
                  <td class="text-center">{{cartItem.apparel.type}}</td>
                  <td class="text-center">{{cartItem.gender}}</td>
                  <td class="text-center">{{cartItem.size}}</td>
                  <td class="text-center">{{cartItem.sleeveName}}</td>
                  <td class="text-center">{{cartItem.quantity}}</td>
                  <td class="text-right">{{cartItem.price | currency}}</td>
                  <td class="text-center">{{cartItem.nameCharge | currency}}</td>
                  <td class="text-center">{{cartItem.upCharge | currency}}</td>
                  <td class="text-right">{{cartItem.totalItemAddedToCartCharge | currency}}</td>
                  <td>
                    <div (click)="remove(cartItem.apparel.apparelId)" class="pointer">
                      <img src="../../../assets/images/circle-trashCan.png" style="width: 30px; height: 30px"
                        alt="delete">
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow text-center"><strong>Grand Total</strong></td>
                  <td class="emptyrow text-right">{{grossTotal | currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <button class="btn btn-secondary" style="float:right" (click)="order()"
          [disabled]="this.shoppingCartItems.items.length <= 0">Order</button>
      </div>
    </div>
  </div>
</div>

