<h1>Confirm your order</h1>

{{this.shoppingCartItems | json}}

<!-- <ul>
  <li *ngFor="let element of this.shoppingCartItems"></li>
</ul> -->
<!-- list items to buy
this is where they have the option to remove any items they do not want
this will show all items and total charges -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3 col-lg-3 pull-left">
      <div class="panel panel-default height">
        <div class="panel-heading">Billing Details</div>
        <div class="panel-body">
          <strong>Today's Date:</strong> &nbsp;
          <span>April 10, 2019</span> &nbsp;
          <strong>Student Name:</strong><br>
          Bob Smith<br>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center"><strong>Order summary</strong></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td><strong>Item Name</strong></td>
                  <td class="text-center"><strong>Item Type</strong></td>
                  <td class="text-center"><strong>Gender</strong></td>
                  <td class="text-center"><strong>Size</strong></td>
                  <td class="text-center"><strong>Name on sleeve</strong></td>
                  <td class="text-center"><strong>Item Quantity</strong></td>
                  <td class="text-center"><strong>Item Price</strong></td>
                  <td class="text-center"><strong>Name Charge</strong></td>
                  <td class="text-center"><strong>Up Charge</strong></td>

                  <td class="text-right"><strong>Total</strong></td>
                </tr>
              </thead>
              <tbody *ngFor="let cartItem of this.shoppingCartItems.items">
                <tr>
                  <td> {{cartItem.apparel.item}}</td>
                  <td class="text-center">{{cartItem.apparel.type}}</td>
                  <td class="text-center">{{cartItem.gender}}</td>
                  <td class="text-center">{{cartItem.size}}</td>
                  <td class="text-center">{{cartItem.sleeveName}}</td>
                  <td class="text-center">{{cartItem.quantity}}</td>
                  <td class="text-right">{{cartItem.totalItemPrice}}</td>
                  <td class="text-center">{{cartItem.apparel.nameCharge}}</td>
                  <td class="text-center">{{cartItem.apparel.upCharge}}</td>
                  <td class="text-right">{{cartItem.totalItemPrice + cartItem.apparel.nameCharge + cartItem.apparel.upCharge}}</td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow text-center"><strong>Grand Total</strong></td>
                  <td class="emptyrow text-right">{{this.shoppingCartItems.grossTotal}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="trackerBtn" style="float:right">Order</button>
        </div>
      </div>
    </div>
  </div>
</div>
