<div>
  <!-- typeahead here -->
  <mat-form-field class="autoComplete-full-width">
    <mat-label>Enter Name</mat-label>
    <input type="text"
      placeholder="Enter Name"
      aria-label="Name"
      matInput
      [matAutocomplete]="auto"
      [formControl]="studentCtrl"
      required>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let student of filteredOptions | async" [value]="student" (onSelectionChange)="getStudentInfo($event)">
        <span>{{ student.firstName }} {{student.lastName}}</span> |
        <small>Student ID: {{student.studentId}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
