<div class="container">

  <h2>
    Add A New Message
  </h2>

  <form [formGroup]="addMessageForm" novalidate (ngSubmit)="submit()">
    <mat-form-field class="messageText">
      <textarea matInput placeholder="Add Message" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="messageTxtCtrl"
        type="text" required></textarea>
      <mat-error *ngIf="messageText.invalid && (messageText.dirty || messageText.touched)">Please add a message</mat-error>
    </mat-form-field>
    <div>
      <button class='trackerBtn' type="submit" [disabled]="!messageText.valid">Submit</button>
    </div>
  </form>
</div>
