@import '../src/assets/scss/variables.scss';
@import '../src/assets/scss/typography.scss';

/* You can add global styles to this file, and also import other style files */

$primary-blue:#2A4283;
$secondary-blue:rgb(51, 78, 155);
$primary-yellow:rgb(221, 204, 120);
$primary-gray: #eee;
;

//---------------------------------------------------------


html,
body {
  height: 100%;
  margin: 0;
  background-color: #dce3ec;
}

.pageHeight {
  min-height: calc(100vh - 70px);
  padding-bottom: 20px;
  ;
}

a {
  cursor: pointer;
}

// h1,
// h2 {
//   margin-bottom: 30px;
//   margin-top: 15px;
// }

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// this removes the arrows in the number box
input[type='number'] {
  -moz-appearance: textfield;
}

// this remove the arrows in the number box
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.trackerBtn {
  background-color: $primary-blue;
  color: $primary-yellow;
  box-shadow: 0 2px #cecccc;
  border: none;
  @include border-radius(4px);
  cursor: pointer;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  // margin: 15px 2px;
  margin-bottom: 0;
  white-space: nowrap;
  padding: 6px 12px;

  &:hover {
    background-color: $secondary-blue;
  }

  &:active {
    transform: translateY(4px);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .65;
    box-shadow: none;
  }
}

.mat-cell,
.mat-header-cell {
  padding: 0 1em 0 1em;
}

.messageText {
  width: 55%;
}



.form-control {
  height: 25px;
}

// override bootstrap validation
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-position: right calc(.575em + .1875rem) center;
}

footer {
  background-color: $primary-gray;
  color: $primary-blue;
  height: 50px;
  width: 100%;
  //margin-top: 40px;
}

.footer {
  padding-top: 15px;
  text-align: center;
}
