@import '../../styles';

img {
  opacity: 0.3;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
}

footer {
  background-color: $primary-blue;
  color: $primary-yellow;
  height: 50px;
  width: 100%;
}

.footer {
  padding-top: 15px;
  text-align: center;
}
