<!-- <a (click)="loginWithGoogle()" *ngIf="!user">Login</a>
<div *ngIf="user">
  <a (click)='logOut()'>Log Out</a>
</div> -->
<div class="wrapper">
  <div class="img-background"></div>
  <div class="row">
    <ng-container *ngIf="securityObject.isAuthenticated">
      <div class="col-7 students-logged-in">
        <h1>There are currently {{signedInStudent}} students signed in.</h1>
      </div>
      <div class="col-5 d-flex justify-content-end logout-btn">
        <button (click)='logOutAllStudents()'>Log Out Students</button>
      </div>
    </ng-container>
    <div class="col"></div>
    <div class="col-6 login" *ngIf="!securityObject.isAuthenticated">
      <app-login></app-login>
    </div>
    <div class="col"></div>
  </div>

</div>
